Checks:	"
	boost-use-to-string,
	bugprone-*,
	cppcoreguidelines-*,
	clang-analyzer-*,
	modernize-*,
	misc-*,
	performance-*,
	portability-*,
	readability-*
"
CheckOptions:
	- key: readability-braces-around-statements
	  value: 1